body {
	background-color: #87CEFA;
}

#gameholder {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	width: 600px;
	height: 150px;
	background-image: url("media/penguin_title.png");
	margin-left: auto;
	margin-right: auto;
}

/* Mound 1 */

/* This pseudo-class is applied when the mouse hovers over a mound of snow */
.mound1:hover {
	background-image: url("media/mound_1_hover.png");
	cursor: pointer;
}

/* This psuedo-class is applied when the mound is clicked */
.mound1:active {
	background-image: url("media/penguin_1.png");
}

/* This is the natural style of the div */
.mound1 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("media/mound_1.png");
}

/* Mound 2 */

/* This pseudo-class is applied when the mouse hovers over a mound of snow */
.mound2:hover {
	background-image: url("media/mound_2_hover.png");
	cursor: pointer;
}

/* This psuedo-class is applied when the mound is clicked */
.mound2:active {
	background-image: url("media/penguin_2.png");
}

/* This is the natural style of the div */
.mound2 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("media/mound_2.png");
}

/* Mound 3 */

/* This pseudo-class is applied when the mouse hovers over a mound of snow */
.mound3:hover {
	background-image: url("media/mound_3_hover.png");
	cursor: pointer;
}

/* This psuedo-class is applied when the mound is clicked */
.mound3:active {
	background-image: url("media/penguin_3.png");
}

/* This is the natural style of the div */
.mound3 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("media/mound_3.png");
}

/* Mound 4 */

/* This pseudo-class is applied when the mouse hovers over a mound of snow */
.mound4:hover {
	background-image: url("media/mound_4_hover.png");
	cursor: pointer;
}

/* This psuedo-class is applied when the mound is clicked */
.mound4:active {
	background-image: url("media/penguin_4.png");
}

/* This is the natural style of the div */
.mound4 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("media/mound_4.png");
}

/* Mound 5 */

/* This pseudo-class is applied when the mouse hovers over a mound of snow */
.mound5:hover {
	background-image: url("media/mound_5_hover.png");
	cursor: pointer;
}

/* This psuedo-class is applied when the mound is clicked */
.mound5:active {
	background-image: url("media/penguin_5.png");
}

/* This is the natural style of the div */
.mound5 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("media/mound_5.png");
}

/* Mound 6 */

/* This pseudo-class is applied when the mouse hovers over a mound of snow */
.mound6:hover {
	background-image: url("media/mound_6_hover.png");
	cursor: pointer;
}

/* This psuedo-class is applied when the mound is clicked */
.mound6:active {
	background-image: url("media/penguin_6.png");
}

/* This is the natural style of the div */
.mound6 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("media/mound_6.png");
}

/* Mound 7 */

/* This pseudo-class is applied when the mouse hovers over a mound of snow */
.mound7:hover {
	background-image: url("media/mound_7_hover.png");
	cursor: pointer;
}

/* This psuedo-class is applied when the mound is clicked */
.mound7:active {
	background-image: url("media/penguin_7.png");
}

/* This is the natural style of the div */
.mound7 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("media/mound_7.png");
}

/* Mound 8 */

/* This pseudo-class is applied when the mouse hovers over a mound of snow */
.mound8:hover {
	background-image: url("media/mound_8_hover.png");
	cursor: pointer;
}

/* This psuedo-class is applied when the mound is clicked */
.mound8:active {
	background-image: url("media/penguin_8.png");
}

/* This is the natural style of the div */
.mound8 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("media/mound_8.png");
}

/* Mound 9 */

/* This pseudo-class is applied when the mouse hovers over a mound of snow */
.mound9:hover {
	background-image: url("media/mound_9_hover.png");
	cursor: pointer;
}

/* This psuedo-class is applied when the mound is clicked */
.mound9:active {
	background-image: url("media/penguin_1.png");
}

/* This is the natural style of the div */
.mound9 {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("media/mound_9.png");
}

/* YETI */
#yeti:active {
	background-image: url("media/yeti.png");
}